#layout{
    width: 500px;
    margin: 150px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
#container{
    display: none;
    grid-gap: 10px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    
}
.kutu{
    border: none;
}
#myP{
    display: none;
}